.Dictionary {
  background-color: rgb(199, 231, 255);
  margin: 30px;
  padding: 30px;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: rgb(194, 250, 232);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 200px);
  margin-left: 40px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: blue;
  border: 2px solid #fe99db;
}
